<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{alumno.confirmation.page.title.delete}">Eliminar Alumno</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

    <h1 th:text="#{feedback.success.deleted(#{alumno.name.singular})}">
        El Alumno se ha eliminado correctamente
    </h1>

    <div class="table-container">
        <a th:href="@{/web/alumnos}" th:text="#{generic.link.view-list}">Ver Listado</a>
    </div>

</body>

</html>