<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{alumno.form.page.title.delete}">Título por defecto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>

    <h1 th:text="#{alumno.form.title.delete}">ELIMINAR ALUMNO</h1>

    <div class="table-container">
        <form th:action="@{/web/alumnos/eliminar}" th:object="${alumno}" method="POST">
            <div>
                <label th:text="#{alumno.form.label.id}">Id del Alumno:</label>
                <input type="number" th:field="*{id}" required>
            </div>
            <br>

            <br>
            <button type="submit" th:action="@{/web/alumnos/{id}/borrar(id=${alumno.id})}" method="POST">Eliminar Alumno</button>
        </form>
    </div>

</body>

</html>